@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #1e252be8;
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.hero {
    width: 1440px;
    margin: 0 auto;
    background-image: url(../img/heder-background.png);
    background-color: #1E252B;
    color: #FFFFFFE5;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 26px 111px 26px 111px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.logo {
    display: flex;
    align-items: center;
    width: 203px;
}

.logo__icon {
    margin-right: 20px;
}

.logo__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.navigation-wrapper__list {
    display: flex;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}

.navigation-wrapper__item {
    padding: 0 20px 0 20px;
}
.navigation-wrapper__link {
    color: #FFFFFF8C;
    text-decoration: none;
}

.navigation-wrapper__drop-down {
    background-color: transparent;
    color: #FFFFFF8C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

.personal-account {
    width: 203px;
}

.personal-account__login {
    width: 80px;
    height: 48px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FDF5FF;
    cursor: pointer;
}

.personal-account__register {
    width: 118px;
    height: 48px;
    background-color: #FF6E30;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FDF5FF;
    cursor: pointer;
}

.search-tools {
    width: 600px;
    padding: 100px 0 0 110px;
}

.search-tools__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    margin: 0;
}

.search-tools__text {
    width: 487px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF8C;
    margin-top: 30px;
}

.search-tools__wrapper {
    position: relative;
    display: block;
    margin-top: 60px;
}

.search-tools__area {
    width: 498px;
    height: 64px;
    color: #FFFFFFE5;
    background-color: #283036;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 24px;
}

.search-tools__btn {
    position: absolute;
    top: 50%;
    right: 111px;
    transform: translateY(-50%);
    width: 130px;
    height: 48px;
    background-color: #FF6E30;
    border: none;
    border-radius: 8px;
    color: #FFFFFFE5;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.social-network {
    padding: 50px 0 0 110px;
}

.social-network__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-network__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    margin-right: 8px;
}

.page-main {
    width: 1440px;
    margin: 0 auto;
    background-color: #1E252B;
    font-family: Poppins;
    font-style: normal;
    color: #FFFFFFE5;
}

.popular {
    width: 1224px;
    padding: 200px 108px;
}

.popular__wrapper {
    width: 455px;
    margin: 0 auto;
    text-align: center;
}

.popular__title {
    font-size: 48px;
    line-height: 62px;
}

.popular__subtitle {
   color: #FFFFFF8C;
   font-size: 18px;
}

/* tool card */
.sticker {
    display: grid;
    padding: 0;
    list-style: none;
}

.sticker__item {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 15px;
    transition: .7s ease;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
}

.sticker__item:hover {
    background-color: #28303699;
    background: linear-gradient(225deg, #ff7b0048, #FFFFFF0D, #FFFFFF00);
    transform: translateY(-20px);
    transition-duration: .7s;
}

.popular__text {
    margin: 0;
}

.popular__text--bold {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.popular__text--orange {
    color: #FFA537;
}

.popular__text--font {
    color: #FFFFFF8C;
    grid-column: 1/3;
}

.popular__view {
    position: relative;
    display: flex;
    align-items: center;
    grid-column: 1/3;
}

.popular__link {
    display: block;
    margin-right: 20px;
}

.popular__heart {
    fill: #FF6E30;
}

.popular__btn {
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 42px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.popular__btn:hover {
    background-color: #FF6E30;
}

.popular__more {
    display: block;
    margin: 100px auto 0 auto;
    width: 184px;
    height: 64px;
    background-color: transparent;
    border-color: #FFFFFF1A;
    border-radius: 8px;
    color: #FF6E30;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
}

.popular__more:hover {
    color: #FFFFFF;
    background-color: #FF6E30;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1224px;
    margin: 0 auto;
    border-radius: 25px;
    background: linear-gradient(135deg, #ff00002d, #FFFFFF0D, #FFFFFF00);
    padding: 50px 82px 56px 82px;
}

.brand__list {
    display: flex;
    list-style: none;
    margin: 55px 0 0 0;
    padding: 0;
}

.brand__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.brand__item:not(:last-child) {
    margin-right: 107px;
}

.newcomer-tools {
    display: flex;
    justify-content: space-around;
    padding: 108px;
}

.newcomer-tools__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
}

.newcomer-tools__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.newcomer-tools__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 48px;
    background-color: #FF6E30;
    border: none;
    border-radius: 8px;
    color: #FFFFFFE5;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}

.newcomer-tools__list {
    grid-template-columns: 288px 288px;
    row-gap: 100px;
    column-gap: 25px;
    margin: 0;
}

.newcomer-tools__item {
    grid-template-columns: 64px 120px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 33px 33px 42px 33px;
}

.newcomer-tools__font {
    color: #FFFFFF8C;
    grid-column: 1/3;
    font-size: 14px;
}

.popular__list {
    grid-template-columns: 392px 392px 392px;
    row-gap: 100px;
    column-gap: 25px;
    margin: 90px 0 0 0;
}

.popular__item {
    grid-template-columns: 64px 262px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 33px 33px 42px 33px;
}

.slider {
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.slider__line {
    width: 1440px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider__item {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 1440px;
}

.slider__prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    stroke: #FFFFFF47;
    cursor: pointer;
}

.slider__next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    stroke: #FFFFFF47;
    cursor: pointer;
}

.slider__next svg {
    transform: rotate(180deg);
}

.slider__chevron:hover {
    stroke: #FF6E30;
}

.testimonial {
    position: relative;
}

.testimonial__apostrophe {
    position: absolute;
    top: -5px;
}

.testimonial__text {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFFC7;
}

.testimonial__tag {
    position: absolute;
    bottom: 20px;
    left: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 23px;
    width: 265px;
    background: rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 8px;
}

.testimonial__title {
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
}

.testimonial__post {
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFDFD8C;
    margin: 0;
}

.join-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1224px;
    margin: 0 auto;
}

.join-us__wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.join-us__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
}

.join-us__text {
    width: 430px;
    margin: 0 auto;
    color: #FFFFFF8C;
}

.join-us__email {
    width: 550px;
    background-color: #283036;
    border: none;
    box-sizing: border-box;
    padding: 0 150px 0 20px;
}

.join-us__btn {
    position: absolute;
    right: 34px;
}